.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../Images/admin-login_cover.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.register-form > div {
    margin-bottom: 20px;
}

.register-card {
    max-width: 400px;
    width: 100%;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.register-title {
    text-align: center;
}

.register-text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #b5b5b4;
}

.register-name-input,
.register-password-input {
    width: 100%;
}

.register-username-icon {
    border: none;
    margin-right: 10px;
}

.register-button {
    width: 100%;
}
.register-name-icon {
    color: #1f2937;
    border: 1px solid #1f2937;
    border-radius: 50%;
    padding: 1px;
    margin-right: 10px;
}

.register-name-icon:user-invalid {
    border-color: red;
}

.register-password-icon {
    margin-right: 12px;
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    .register-card {
        max-width: 90%;
        margin: 0 10px;
    }
}
