.models-container {
    max-width: 1820px;
    padding: 1.464vw 1.464vw;
    background-color: #e3e6e8;
    margin: 0 auto;
}
.models-header {
    text-align: center;
    padding-bottom: 40px;
}
.models-header h1 {
    padding-bottom: 20px;
}
.custom-card {
    color: #fff;
    border-radius: 10px;
    background-color: #222;
}
.first-card {
    background-color: #595959;
}
.second-card {
    background-color: #857261;
}
.third-card {
    background-color: #34495e;
}
.fourth-card {
    background-color: #2b3550;
}
.fiveth-card {
    background-color: #545454;
}
.card-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image a img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
}
.card-image a img:hover {
    transform: scale(1.02);
    position: relative;
}
.card-content {
    padding: 20px 40px;
}
.models-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: transparent !important;
}
.swiper-pagination-bullet {
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 1px;
}
.models-swiper {
    position: relative;
}
.models-nav-next {
    position: absolute;
    top: 835px;
    left: 53%;
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
    padding-inline: 21px;
    transition: 0.4s;
}
.models-nav-next::after,
.models-nav-prev::after {
    font-size: 22px;
}
.models-nav-next:hover {
    background-color: #000;
    color: #fff;
}
.models-nav-prev {
    position: absolute;
    top: 835px;
    left: 44.5%;
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
    font-size: 22px;
    padding-inline: 21px;
    transition: 0.4s;
}
.models-nav-prev:hover {
    background-color: #000;
    color: #fff;
}
.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.custom-pagination span {
    transition: 0.2s;
}
.custom-pagination span:hover {
    color: #000;
}
.card-content-link {
    font-size: 26px;
    text-decoration: underline;
}
.card-content-link:hover {
    text-decoration: none;
}
.card-content-top {
    margin-bottom: 20px;
}
.card-content-description {
    font-family: var(--font-roboto);
    letter-spacing: 1px;
    font-size: 18px;
}
.card-content-center h3 {
    margin-bottom: 20px;
}
.card-content-li {
    margin-bottom: 10px;
}
.card-content-bottom p:first-child {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 22px;
}
.card-content-bottom p:nth-child(2) {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
}
.card-content-bottom-link {
    display: inline-block;
    font-size: 16px;
    padding: 0px 60px;
}
.card-content-bottom button {
    margin-right: 20px;
}
.card-content-bottom button {
    color: #1e1e1e;
    border-radius: 4px;
    transition: 0.3s ease;
    border: 1px solid transparent;
}
.card-content-bottom button:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.card-content-bottom-configurator {
    font-weight: 500;
}
.card-content-bottom-configurator:hover::after {
    margin-left: 10px;
}
.card-content-bottom-configurator::after {
    content: "—";
    margin-left: 3px;
    width: 14px;
    height: 14px;
    pointer-events: none;
    transition: 0.3s all ease;
}
