.action {
    display: flex;
    font-size: 18px;
    gap: 20px;
}
.anticon .anticon-close .ant-modal-close-icon {
    display: none;
}
:where(.css-dev-only-do-not-override-1x0dypw).ant-modal-root .ant-modal-wrap {
    scrollbar-color: transparent transparent;
}

.custom-mask.custom-mask-list {
    border-radius: 10px;
}
:where(.css-dev-only-do-not-override-nqoqt9).ant-image .ant-image-img{
    border-radius: 10px;
}
.custom-mask.custom-mask-card {
    border-radius: 10px;
    height: 95.9%;
}

.custom-preview-mask {
    max-height: 92.5%;
}
/* .custom-preview-image {
    height: 1% !important;
} */
.tooltip-logout {
    margin-right: 10px;
    position: relative;
}
.edit-car-input {
    /* display: none !important; */
    content-visibility: hidden;
}
.edit-car-label {
    border: 3px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.edit-car-label:hover {
    border-color: #868686;
}
.admin-change-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.4s all !important;
}
.admin-change-password-text {
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #b6b6b6;
    user-select: none;
    transition: 0.2s;
}
.admin-change-password-text:hover {
    background-color: #d1cfcfa8;
}
.admin-change-password-text:active {
    background-color: #d1cfcf;
}
.admin-change-password-input {
    max-width: 65%;
    width: 100%;
}
.ant-modal-wrap {
    scrollbar-color: transparent transparent;
}
