.admin-dealers-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-dealers-table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.admin-dealers-table-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    transition: 0.2s;
}

.admin-dealers-table-body:hover {
    background-color: #8b7b7b18;
}

.admin-dealers-table-body tr:first-child {
    width: 50%;
}
.admin-dealers-table-head tr:first-child {
    width: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
.admin-dealers-table-head tr,
.admin-dealers-table-body tr {
    text-align: start;
    width: inherit;
    margin-left: 30px;
}
.admin-dealers-table-body tr td {
    width: inherit;
}

.admin-dealers-table-body tr a {
    display: inline-block;
    padding: 10px 12px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    font-family: var(--font-roboto);
    transition: 0.3s;
    margin-left: 6.589vw;
}
.admin-dealers-table-body tr a:hover {
    border-color: #000000b0;
    color: inherit;
}
