.header {
    display: flex;
    background: rgba(30, 30, 30, 0.7);
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.6s all;
    align-items: center;
    justify-content: space-between;
}

.header.header-section.header-active {
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.header-section.header-active .header__inner .header-nav__links li a,
.header-section.header-active .header__inner .header-nav__links .owner-btn {
    color: #000 !important;
}
.header-section.header-active .header__inner .header__item a img {
    filter: invert(100%);
}
.header__inner {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header__nav {
    flex-grow: 1;
}
.header-nav__links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-nav__link {
    height: 100%;
}
.header-nav__links li a,
.header-nav__links li button {
    font-weight: 500;
    color: #fff;
    font-family: "Roboto";
    letter-spacing: 1.5px;
}
.header-ru .header-nav__links li a,
.header-nav__links li button {
    padding: 0;
    letter-spacing: 1px;
}
.header-item-active a i,
.header-item-active .header__lang ul li button {
    color: #000;
}
.header-item-active .header__lang ul li ul {
    background-color: #fff !important;
    color: #000 !important;
}
.header-item-active .header__lang ul li ul:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.header__item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__logo {
    margin-right: 100px;
}
.fa-phone {
    color: #fff;
    font-size: 20px;
}
.header__lang {
    position: relative;
}
.language-btn {
    position: relative;
    font-family: var(--font-mich);
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0;
}
.header__lang:hover .ru {
    opacity: 1;
    pointer-events: auto;
    background-color: #1e1e1e;
    color: #fff;
}
.fa-angle-down {
    margin-left: 5px;
}
.ru {
    position: absolute;
    top: 23px;
    left: 0px;
    opacity: 0;
    transition: 0.3s all ease;
    border-radius: 7px;
    cursor: default;
    padding: 10px;
    pointer-events: none;
}
.ru:hover {
    background: #fff !important;
    color: #000 !important;
}
.owner-btn {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.owners-modal-overlay {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
}
.owners-modal.active {
    padding: 20px;
    background-color: #fff;
    animation: fadeIn 10s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.1) scaleX(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1) scaleX(1);
    }
}
.owners-modal.active a {
    color: #000;
}
.owners-modal.active a:hover {
    text-decoration: underline;
}
.models-modal-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.models-modal-card {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 30px 10px;
    transition: 0.7s;
}
.models-modal-card:hover {
    box-shadow: inset 0px 10px 10px 200px #76bbc4;
}
.models-modal-cards img {
    width: 397px;
    height: 111px;
    object-fit: cover;
}
.swiper-slide-3 {
    margin-top: 50px;
    color: #ffffff08;
}

/* ASIDE ===========================*/
.aside {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.aside__list {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: -7px;
    gap: 10px;
    padding: 10px;
    transition: all 0.3s;
    transform: translateY(20px);
    background-color: rgba(30, 30, 30, 0.7);
}
.aside.active .aside__list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-10px);
    background-color: rgba(30, 30, 30, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(4px);
}
.aside__item {
    pointer-events: none;
}
.aside.active .aside__item {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.aside__list.hovered .aside__item {
    transition: all 0.6s;
}
.aside__list.hovered:hover .aside__item,
.aside__list.hovered:hover .aside__item .aside__link,
.aside__list.hovered:hover .aside__item .aside__link .aside__link-text {
    transition: all 0.5s;
}
.aside__list.hovered:hover .aside__item .aside__link .aside__link-text {
    position: relative;
    right: 1px;
    opacity: 1;
    pointer-events: auto;
}
.aside__list.hovered:hover .aside__list .aside__link,
.aside__list.hovered:hover .aside__list .aside__link .aside__link-text {
    pointer-events: auto;
}
.aside__list.active.hovered:hover .aside__link,
.aside__list.active.hovered:hover .aside__link .aside__link-text {
    pointer-events: auto;
}
.aside__link-text {
    position: absolute;
    z-index: -1;
    right: -100%;
}
.aside__link {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.aside__link-text {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, background-color 0.7s ease;
}
.aside__btn-call {
    position: relative;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    background-color: #454d52;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid #454d52;
}
.aside__btn-call svg {
    pointer-events: none;
    fill: #fff;
}
.aside__btn-call {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.aside .aside__btn-call:hover {
    background-color: #1e1e1e;
}
.aside__btn {
    padding: 9px 11px;
    border-radius: 6px;
    background-color: #454d52;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: max-content;
    transition: all 0.5s ease-in-out;
}
.aside__btn:hover {
    background-color: #1e1e1e;
}
.aside__btn img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}
