.header {
    display: flex;
    background: rgba(30, 30, 30, 0.7);
    position: fixed;
    width: 100vw;
    z-index: 100;
    transition: all 0.6s;
    align-items: center;
    justify-content: space-between;
}

.header__responsive {
    transition: all 0.5s !important;
    position: fixed;
    left: -100%;
    opacity: 0;
}

.header.header-section.header-active {
    background-color: var(--w);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.header-section.header-active .header__inner .header-nav__links li a,
.header-section.header-active .header__inner .header-nav__links .owner-btn,
.header-section.header-active .selection {
    color: var(--b);
}
.header-section.header-active .header__inner .user-icon {
    color: var(--b);
    border-color: var(--b);
}
.header-section.header-active .header-nav__links > li::after {
    background-color: var(--b);
}
.header-section.header-active .header__inner .header__item a img {
    filter: invert(100%);
}
.header__inner {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.header-nav__links {
    display: flex;
    align-items: center;
    gap: 2.19619vw;
    height: 100%;
}
.header-nav__links li {
    position: relative;
    height: 100%;
}
.header-nav__links li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: 0.4s;
}
.header-nav__links li:hover::after {
    bottom: -5px;
    opacity: 1;
}
.header-nav__link {
    height: 100%;
}
.header-nav__links li a,
.header-nav__links a,
.header-nav__links li button {
    margin: 0;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-roboto);
    letter-spacing: 1.5px;
    background-color: transparent;
    font-size: 1.1713vw;
}
.header-nav__links .selection {
    font-size: 1.1713vw;
}
.header-ru .header-nav__links li a,
.header-nav__links li button {
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.1713vw;
}
.header-item-active a i,
.header-item-active .header__lang ul li button {
    color: #000;
}
.header-item-active .header__lang ul li ul {
    background-color: #fff !important;
    color: #000 !important;
}
.header-item-active .header__lang ul li ul:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.header__item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__item a:last-child {
    max-width: 9.15081vw;
}
.header__item a:last-child img {
    width: 100%;
}
.header__logo {
    margin-right: 7.32064vw;
    max-width: 5.12445vw;
}
.header__logo img {
    width: 100%;
}

.header__burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 2.92826vw;
    height: inherit;
    border: 1px solid #fff;
    padding: 0.36603vw;
    cursor: pointer;
    border-radius: 4px;
    pointer-events: none;
}
.header__burger span {
    padding: 0.14641vw;
    min-height: 4px;
    height: 100%;
    border-radius: 3px;
    background-color: #fff;
}
.header__burger span:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.fa-phone {
    color: #fff;
    font-size: 20px;
}
.header__lang {
    position: relative;
}
.language-btn {
    position: relative;
    font-family: var(--font-mich);
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: baseline;
}
.header__lang:hover .ru {
    opacity: 1;
    pointer-events: auto;
    background-color: #1e1e1e;
    color: #fff;
}
.fa-angle-down {
    margin-left: 5px;
}
.ru {
    position: absolute;
    top: 19px;
    left: 0px;
    opacity: 0;
    transition: 0.3s all ease;
    border-radius: 7px;
    cursor: default;
    padding: 10px;
    pointer-events: none;
}
.ru:hover {
    background: #fff !important;
    color: #000 !important;
}

/* HEADER's MODAL (MODELS)*/

.header__responsive-modal.active {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 100vw;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation: fadeIn 333ms ease-in-out;
    color: #000;
    overflow-y: scroll;
    border-radius: 5px;
    font-family: var(--font-roboto);
}
.header__responsive-modal.active .header__models-modal-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header__responsive-modal.active .header__models-modal-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 222ms;
}
.header__responsive-modal.active .header__models-modal-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.header__responsive-modal.active .header__models-modal-card img {
    width: 100%;
}

.cancel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: start;
    background-color: rgb(8, 8, 8);
    color: #fff;
    cursor: pointer;
}

.owner-btn {
    background-color: transparent;
    color: #fff;
    font-size: 1.1713vw;
    font-weight: 500;
}
.owners-modal-overlay {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.owners-modal.active {
    padding: 20px;
    background-color: #fff;
    animation: fadeIn 333ms ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.about-gwm-active {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #fff;
    animation: fadeIn 333ms ease-in-out;
    padding-bottom: 200px;
}
.about-gwm-active a {
    font-family: var(--font-mich) !important;
    font-weight: 400 !important;
    color: #000 !important;
}
.about-gwm-active a:hover {
    text-decoration: underline;
}
.about-gwm-active-one ul a {
    letter-spacing: 0;
}
.about-gwm-active-one ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 7px;
    max-width: 300px;
}
.about-gwm-active-two ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 7px;
}
.about-gwm-active h3 {
    color: #909090;
    font-size: 16px;
}
.login-link {
    color: #fff;
    border: 1px solid transparent;
    padding: 5px;
    transition: 333ms;
    border-radius: 50%;
    cursor: pointer;
}
.login-link i::before {
    padding: 10px 2px 10px 3px;
}
.login-link:hover {
    background-color: #00000067;
}
.login-link:active {
    border-color: #fff;
}
.owners-modal.active a {
    color: #000;
}
.owners-modal.active a:hover {
    text-decoration: underline;
}
.models-modal-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}
.models-modal-card {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 40px 10px;
    transition: 0.7s !important;
}

.models-modal-card:hover {
    background-color: #76bbc4;
}

.models-modal-card img {
    max-width: 397px;
    max-height: 117px;
    object-fit: cover;
}
.swiper-slide-3 {
    margin-top: 50px;
    color: #ffffff08;
}

.selection-modal.active {
    padding: 20px;
    background-color: #fff;
    animation: fadeIn 333ms ease-in-out;
}

.selection-modal p {
    font-size: 15px;
    color: #909090;
}

.selection-modal ul li a {
    color: #000;
}
.selection-modal ul li a:hover {
    text-decoration: underline;
}

/* ASIDE ===========================*/
.aside {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    pointer-events: fill;
}
.aside__list {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -7px;
    gap: 10px;
    padding: 10px;
    transition: all 0.4s;
    transform: translateY(20px);
    background-color: rgba(30, 30, 30, 0.7);
}
.aside.active .aside__list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-10px);
    border-radius: 10px;
    backdrop-filter: blur(4px);
}
.aside.active .aside__item:hover {
    text-align: center;
}
.aside__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.aside__link span {
    margin-right: auto;
}

.aside__btn-call {
    position: relative;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    background-color: #454d52;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid #454d52;
}
.aside__btn-call svg {
    pointer-events: none;
    fill: #fff;
}
.aside__btn-call {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.aside .aside__btn-call:hover {
    background-color: #1e1e1e;
}
.aside__btn {
    padding: 9px 11px;
    border-radius: 6px;
    background-color: #454d52;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: max-content;
    transition: all 222ms ease-in-out;
}
.aside__btn:hover {
    background-color: #1e1e1e;
}
.aside__btn img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

/* MEDIA */

@media (max-width: 1170px) and (max-width: 1024px) {
    .header__burger {
        display: flex;
        margin-right: auto;
        pointer-events: all;
    }
    .header__nav {
        display: none;
    }
    .header__responsive.show {
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 1;
        transition: 0.4s ease;
        backdrop-filter: blur(5px);
        width: 100vw;
        height: 100vh;
        color: #fff;
    }
    .header__responsive.show .header-responsive__links {
        background-color: #1f2830;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 50px 10px 10px 30px;
        max-width: 40vw;
        width: 100%;
        max-height: 100%;
        height: 100%;
    }
    .header__responsive.show .header-responsive__links button {
        background-color: transparent;
    }
    .header__responsive.show .header-responsive__links button,
    .header__responsive.show .header-responsive__links a,
    .header__responsive.show .header-responsive__links span {
        font-size: 16px;
        padding: 5px;
        color: #fff;
        transition: 0.2s;
    }
    .header__responsive.show .header-responsive__links button:hover,
    .header__responsive.show .header-responsive__links li a:hover,
    .header__responsive.show .header-responsive__links a:hover {
        text-decoration: underline;
    }
    .language-btn {
        display: flex;
        align-items: end;
    }
    .header.header-section.header-active .header__burger {
        border-color: #000;
    }
    .header.header-section.header-active .header__burger span {
        background-color: #000;
    }
}

@media screen and (max-width: 1024px) {
    .header__item {
        align-items: baseline;
    }
}
