.ripple-container {
    position: relative;
    /* display: inline-flex; */
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.555);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 777ms ease;
    pointer-events: none;
}

@keyframes ripple-effect {
    to {
        transform: scale(10);
        opacity: 0;
    }
}
