:root {
    --font-mich: "Michroma";
    --font-roboto: "Roboto";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: var(--font-mich);
}

html,
body {
    font-family: var(--font-mich);
    scroll-behavior: smooth;
}

/* .ant-layout-content .css-dev-only-do-not-override-1x0dypw,
.ant-layout-header .css-dev-only-do-not-override-1x0dypw {
    background-color: #141414 !important;
} */
/* --------------------------------------------- */

/* .container {
    max-width: 1349px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
} */

.hovered {
    position: relative;
}
.hovered:hover {
    color: inherit;
}
.hovered:hover::after {
    bottom: -5px;
    opacity: 1;
}
.hovered::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: 0.4s;
}

.hovered-bg {
    color: inherit;
    background-color: transparent;
    transition: 0.4s;
}

.hovered-bg:hover {
    color: #fff;
    background-color: #1775f9be;
}
